<!DOCTYPE html>
<html>
  <head>
    <title>Update Employee Form</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./update-employee.component.css"
    />
  </head>
  <body>
    <div
      class="flex justify-center items-center h-screen bg-gray-300"
      *ngIf="employee"
    >
      <form
        #employeeForm="ngForm"
        (ngSubmit)="updateEmployee(employeeForm)"
        class="bg-white rounded-lg p-8 shadow-lg"
      >
        <h2 class="text-2xl font-bold mb-4">Update Employee</h2>
        <div *ngIf="errorMessage" class="text-red-600 mb-4">
          {{ errorMessage }}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="first_name">
            First Name
          </label>
          <input
            [(ngModel)]="employee.first_name"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ng-invalid ng-dirty ng-touched"
            id="first_name"
            type="text"
            name="first_name"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="last_name">
            Last Name
          </label>
          <input
            [(ngModel)]="employee.last_name"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ng-invalid ng-dirty ng-touched"
            id="last_name"
            type="text"
            name="last_name"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="email">
            Email
          </label>
          <input
            [(ngModel)]="employee.email"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ng-invalid ng-dirty ng-touched"
            id="email"
            type="email"
            name="email"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="gender">
            Gender
          </label>
          <select
            [(ngModel)]="employee.gender"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ng-invalid ng-dirty ng-touched"
            id="gender"
            name="gender"
          >
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="salary">
            Salary
          </label>
          <input
            [(ngModel)]="employee.salary"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ng-invalid ng-dirty ng-touched"
            id="salary"
            type="number"
            name="salary"
          />
        </div>
        <div class="flex justify-end">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Update Employee
          </button>

          <button
            class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="navigateToEmployee()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
